@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    transition: all .3s ease;
}
.container{
    font-family: 'Heebo', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    user-select: none;
    transition: all .3s ease;
    
}

.theme-button{
    margin-top: 8.3rem;
    color: white;
    background-color: black;
    border-radius: 3px;
    padding: .2rem .4rem;
    cursor: pointer;
    transition: all .3s ease;
}

.clock{
    height: 16rem;
    width: 16rem;
    margin-top: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.time{
    margin-top: 1rem;
    font-size: 5rem;
    font-weight: 300;
    transition: all .3s ease;
}
.date{
    display: flex;
    transition: all .3s ease;
}
.day-month{
    color: grey;
    font-weight: 200;
    font-size: 1.3rem;
    transition: all .3s ease;
}
.number{
    color: white;
    font-size: 1.3rem;
    background-color: black;
    border-radius: 100%;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: .3rem;
    transition: all .3s ease;
}
.hour{
    background-color: black;
    height: 4px;
    width: 5rem;
    transform-origin: 0% 50%;
    position: absolute;
    left: 50%;
    transform:rotate(45deg);
    transition: all .3s ease;
}
.minute{
    background-color: black;
    height: 4px;
    width: 8rem;
    transform-origin: 0% 50%;
    transform:rotate(160deg);
    position: absolute;  
    left: 50%;
    transition: all .3s ease;
}
.second{
    background-color: rgb(199, 0, 0);
    height: 4px;
    width: 8rem;
    transform-origin: 0% 50%;
    transform:rotate(220deg);
    position: absolute;  
    left: 50%;
    transition: all .3s ease;
}
.red-dot{
    background-color: rgb(199, 0, 0);
    height: .7rem;
    width: .7rem;
    position: absolute;
    left: 50% - .35rem;
    top: 50% - .35rem;
    border-radius: 100%;
}
.black-dot{
    background-color: black;
    height: .5rem;
    width: .5rem;
    position: absolute;
    left: 50% - .25rem;
    top: 50% - .25rem;
    border-radius: 100%;
}
.dark{
    color: white;
}
body.dark{
    background-color: black;
}
.number.dark{
    color:black;
    background-color: white;
}
.minute.dark,.hour.dark{
    background-color: white;
}
.theme-button.dark{
    background-color: white;
    color: black;
}