* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    justify-content: center;
    display: flex;
    background-color: #D9E0EC;
}

.container {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    align-items: center;
    font-family: 'Lato', sans-serif;
}

h1 {
    padding: 2rem;
    font-size: 2rem;
}

.slider {
    position: relative;
    top: calc(50% - 12rem);
    width: 60%;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar {
    position: relative;
    width: 60%;
    height: .6rem;
    background-color: #800080;
    border-radius: 10px;
}

.dot {
    position: absolute;
    left: calc(0% - .8rem);
    top: calc(50% - .8rem);
    height: 1.6rem;
    width: 1.6rem;
    border: solid #800080a1 1px;
    background-color: white;
    border-radius: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.aux {
    position: relative;
    height: 2px;
    width: 2px;
}

.number {
    height: 2rem;
    width: 6rem;
    background-color: white;
    border-radius: 6px;
    position: absolute;
    top: -.4rem;
    left: calc(0% - 2.2rem -1px);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 9px 2px rgba(136, 135, 135, 0.75);
    user-select: none;
}

input[type="range"] {
    width: 100%;
    height: 10px;
    background-color: #800080a1;
    border: none;
    border-radius: 5px;
    outline: none;
    appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
    height: 1.6rem;
    width: 1.6rem;
    border: solid #800080a1 1px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    -webkit-appearance: none;
}