@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;500&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
}
body{
    background-color: #8E44AD;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    width: 70%;
    justify-content: space-around;
    font-family: 'Roboto Mono', sans-serif;
}
.item{
    padding: 2rem;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.fa{
    color: white;
    text-decoration: none;
    width: 3rem;
    height: 3rem;
    padding: 3rem;
}
ion-icon{
    height: 3.8rem;
    width: 3.8rem;
    color: white;
}
.counter{
    color: white;
    font-size: 4.5rem;

}
span{
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
}